.section {
    height: 100vh;
}

.section:nth-child(odd) {
    background-color: $color2;
}

.section:nth-child(even) {
    background-color: $color4;
}

.section:nth-child(1) {
    padding-left: $paddingSpaceBase;
    display: flex;

    .section-title {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;

        h1 {
            // border: 1px solid red;
            font-size: 36px;
        }

        p {
            // border: 1px solid red;
            width: 35%;
            font-size: 24px;
        }
    }

    .hero-image {
        // border: 1px solid red;
        box-shadow: -4px 0px 2px rgba($color: #000000, $alpha: .2);
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url('/public/images/main.jpg');
    }
}

.section:nth-child(2),
.section:nth-child(3) {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $paddingSpaceBase;

    header {
        h2 {
            font-size: 32px;
        }
    }
}

.section:nth-child(3) {

    // border: 1px solid red;
    header {
        h3 {
            font-size: 28px;
        }
    }

    .articles {
        width: fit-content;
        flex-wrap: wrap;
        gap: 25px;
    }

    .more-button {
        margin: auto;
        width: 75vw;
        text-align: center;
        padding: $paddingSpaceSmall;
        background-color: $color5;

        a {
            color: $color3;
            font-size: 16px;
        }
    }
}
