// Body
$body-bg: #f8fafc;

// Typography
$font-family-base: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// colors
$color1: #404c78;
$color2: #9DE2E3;
$color3: #FFFFFF;
$color4: #BFE0F2;
$color5: #5A6F9D;

// spacing
$paddingSpaceBase: 5%;
$paddingSpaceSmall: 1%;
