
// Variables
@import 'variables';


// import all components style
@import 'components/**.scss';

// import all pages style
@import 'pages/**.scss';

*{
    box-sizing: border-box;
}

html, body{
    font-family: $font-family-base;
    height: 100%;
    margin: 0;
    padding: 0;
}

